<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body data-bs-theme="dark">
    <header>
        <%- include('../partials/header', {currentPage: 'about' }); %>
    </header>

    <main class="container">
        <h1>About</h1>
        <p>Made by Korneel Vanhulst!</p>
    </main>

    <footer class="container">
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>